/* Homepage-specific styling */

div#main {/* contains 2 elements (div#home-hero and div#home-info)*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
}

div#home-hero {
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div#home-text-container {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button#btn-res {
    all: unset;
    cursor: pointer;
    width: 200px;
    border: 1px solid #000;
    padding: 8px 0;
    text-align: center;
    border-radius: 0 20px 0 0;
    transition: background-color .3s ease, color .3s ease;
}

button#btn-res:hover {
    color: #fff;
    background-color: rgb(59, 139, 34);
    border-color: rgb(59, 139, 34);
}

div#home-image-container {
    width: 450px;
    height: 450px;
    background-image: url("./images/homepage-hero.jpg"); /*Photo by Birgith Roosipuu on Unsplash*/
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 0 100px;
}

div#home-info {
    width: 900px;
    display: flex;
    flex-direction: column;
}
div#home-info h3#info-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

div#cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


div#cards [id^="card-"] {
    width: 280px;
    height: 250px;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow .3s ease, transform .3s ease;
}

div#cards [id^="card-"]:hover {
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

div#cards [id^="card-"] [id^="icon-"] {
    color: rgb(59, 139, 34);
    font-size: 48px;
}