/* Reservation-page-specific styling */

div#res-hero {/* contains 2 elements (div#res-text-container, div#rest-image-container)*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
}

div#res-image-container {
    width: 100%;
    height: 450px;
    background-image: url("./images/reservation-hero.jpg"); /*Photo by Hitesh Dewasi on Unsplash*/
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 0 100px;
}

div#res-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 70px;
}

h2#res-hero-phone {
    padding-top: 32px;
    font-size: 64px;
}