/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header/Nav */
div#header {

}

/* Content */
div#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

/* Footer */
footer#footer {
    margin-top: auto;
}