@import "home.css";
@import "reservation.css";
@import "menu.css";

/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

::-moz-selection { 
    background: black;
    color: white;
}

::selection { 
    background: black;
    color: white;
}

div.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header/Nav */
header#header { /* contains 1 element (div#menu)*/
    height: 50px;
    display: flex;
    justify-content: center;
}

div#menu {/* contains 2 elements (div#log and nav#nav)*/
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav#nav { /* contains 3 elements (button.btn)*/
    display: flex;
    justify-content: flex-end;
    gap: 32px;
}

/* Logo */
div#logo {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

/* Tabs */
nav#nav button.btn {
    all: unset;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    position: relative;
    font-size: 16px;
    font-weight: 100;
}

nav#nav button.btn::after,
footer#footer a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: rgb(59, 139, 34);
    transition: width 0.3s ease, left 0.3s ease;
}

nav#nav button.btn:hover::after,
footer#footer a:hover::after {
    width: 100%;
    left: 0;
}

/* Content */
div#content {
    display: flex;
    justify-content: center;
    flex: 1;
}

/* Footer */
footer#footer {
    margin-top: auto;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-weight: 100;
}

footer#footer a {
    all: unset;
    position: relative;
    cursor: pointer;
}